<div class="gallery" style="@galleryStyle">
    <div class="gallery__item" style="@paddingTopStyle">
        <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt="" />
        <label for="img-1" class="gallery__thumb">
            <img src="https://picsum.photos/id/1015/150/100.jpg" alt="" />
        </label>
    </div>
    <div class="gallery__item" style="@paddingTopStyle">
        <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt="" />
        <label for="img-2" class="gallery__thumb">
            <img src="https://picsum.photos/id/1039/150/100.jpg" alt="" />
        </label>
    </div>
    <div class="gallery__item" style="@paddingTopStyle">
        <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt="" />
        <label for="img-3" class="gallery__thumb">
            <img src="https://picsum.photos/id/1057/150/100.jpg" alt="" />
        </label>
    </div>
    <div class="gallery__item" style="@paddingTopStyle">
        <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt="" />
        <label for="img-4" class="gallery__thumb">
            <img src="https://picsum.photos/id/106/150/100.jpg" alt="" />
        </label>
    </div>
</div>



@code {
    [Parameter] public int MaxImageWidth { get; set; } = 600;
    [Parameter] public int MaxImageHeight { get; set; } = 400;

    string galleryStyle = string.Empty;
    string paddingTopStyle = string.Empty;

    protected override void OnParametersSet()
    {
        int paddingTop = Convert.ToInt32((double)MaxImageHeight / (double)MaxImageWidth * 100);

        galleryStyle = $"max-width: {MaxImageWidth}px;"; //padding-top: {paddingTop}%";
        paddingTopStyle = $"padding-top: {paddingTop}%";
    }

}
